{
  "Logging": {
    "LogLevel": {
      "Default": "",
      "Microsoft.AspNetCore": ""
    }
  },
  "AzureDevOpsOptions": {
    "Organization": "",
    "Project": "",
    "SupportedTypes": [],
    "DefaultType": "",
    "Pat": "",
    "BaseUrl": "",
    "EntitlementsBaseUrl": ""
  },
  "AzureAd": {
    "Instance": "",
    "Domain": "",
    "TenantId": "",
    "ClientId": "",
    "CallbackPath": ""
  },
  "AllowedHosts": ""
}
